---
import UsFlag from "./UsFlag.astro";
import SpainFlag from "./SpainFlag.astro";
import ArrowDown from "./ArrowDown.astro";
---

<div class="relative text-white">
  <button
    type="button"
    class="button-chagnge-language rounded-full bg-black px-2 py-1"
  >
    <div class="flex items-center gap-1">
      <div class="flex items-center gap-1">
        <UsFlag /> En
      </div>
      <ArrowDown />
    </div>
  </button>

  <div
    class="absolute mt-1 options-box hidden flex-col w-full items-center bg-gray-700 rounded-lg p-1"
  >
    <!-- <div class="flex flex-col items-center"> -->
    <div
      class="cursor-pointer flex items-center gap-1 w-full rounded-lg hover:bg-gray-500 p-2"
    >
      <UsFlag /> En
    </div>
    <div
      class="cursor-pointer flex items-center gap-1 w-full rounded-lg hover:bg-gray-500 p-2"
    >
      <SpainFlag /> Es
    </div>
    <!-- </div> -->
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const buttonChangeLanguage = document.querySelector(
      ".button-chagnge-language",
    );
    const optionBox = document.querySelector(".options-box ");

    buttonChangeLanguage?.addEventListener("click", () => {
      if (optionBox?.classList.contains("hidden")) {
        optionBox?.classList.remove("hidden");
        optionBox?.classList.add("flex");
      } else {
        optionBox?.classList.remove("flex");
        optionBox?.classList.add("hidden");
      }
    });
  });
</script>
