---
import ArrowUp from "./ArrowUp.astro";
---

<footer
  id="footer"
  class="lg:sticky lg:top-0 h-dvh text-white"
  data-dev-name-opacity="0"
>
  <header class="relative z-20 bg-gray-300 h-dvh px-5 lg:px-12-em">
    <h1>AAAAAAAAAAAAAAAAAAAAA</h1>
  </header>

  <main
    class="lg:sticky flex flex-col justify-between lg:bottom-0 py-16 lg:pb-16-em lg:pt-20-em bg-black h-dvh px-5 overflow-hidden lg:px-12-em"
  >
    <header class="xl:max-w-2.2xl-em">
      <h3
        class="text-5xl xs:text-4.8-rem md:text-8xl leading-tight tracking-tight"
      >
        Nice to meet you, Let’s connect.
      </h3>
    </header>

    <section class="flex flex-col gap-y-6 md:gap-y-5-em">
      <p class="text-2xl lg:text-2xl-em text-gray-600">
        Find me elsewhere on web.
      </p>

      <ul
        id="contacts"
        class="flex flex-col xs:flex-row gap-y-4 xs:gap-x-10-em"
      >
        <li>
          <a
            style="--underline-color: #4b5563; --underline-before-color: #fff;"
            class="underline-hover pb-2 inline-block text-xl lg:text-2xl-em"
            href="https://www.google.com"
            target="_blank"
            referrerpolicy="no-referrer"
          >
            LinkedIn
          </a>
        </li>
        <li>
          <a
            style="--underline-color: #4b5563; --underline-before-color: #fff;"
            class="underline-hover pb-2 inline-block text-xl lg:text-2xl-em"
            href="https://www.google.com"
            target="_blank"
            referrerpolicy="no-referrer"
          >
            correo@correo.com
          </a>
        </li>
      </ul>
    </section>

    <footer class="flex justify-between items-center">
      <p class="text-base lg:text-xl-em">&copy2024 - Esteven Zapata</p>

      <button
        class="bg-white go-top h-10 w-10 md:h-12 md:w-12 lg:h-16-em lg:w-16-em rounded-full flex items-center justify-center"
      >
        <span class="h-4 w-4 lg:h-6-em lg:w-6-em">
          <ArrowUp width="100%" height="100%" />
        </span>
      </button>
    </footer>
  </main>
</footer>

<script>
  const buttonGoTop = document.querySelector(".go-top") as HTMLElement;

  buttonGoTop.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  });
</script>

<style is:global>
  @keyframes arrow-up {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-200%);
    }
  }

  @keyframes arrow-down {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .go-top:hover span {
    animation:
      arrow-up 0.2s ease-in-out forwards,
      arrow-down 0.2s ease-in-out forwards 0.2s;
  }
</style>
