---
import ChangeLanguage from "./ChangeLanguage.astro";
import ChangeTheme from "./ChangeTheme.astro";
import About from "./About.astro";
import Navbar from "./Navbar.astro";
import ProfileImage from "./ProfileImage.astro";
---

<header
  class="flex fixed justify-between px-5 lg:px-12-em top-6 md:top-4 w-full z-40"
>
  <main
    id="main-header"
    class="flex border relative -z-30 sm:static xs:border-0 py-1 pl-4 pr-2 xs:p-0 w-full rounded-full justify-between bg-white/95 xs:bg-transparent"
  >
    <ProfileImage />
    <Navbar />
  </main>
</header>

<About />

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const devName = document.querySelector("#dev-name") as HTMLElement;
    const projectsList = document.querySelector(
      "#projects-list",
    ) as HTMLElement;
    const footer = document.querySelector("#footer") as HTMLElement;

    function throttle(fn: () => void, wait: number) {
      let time = Date.now();
      return function () {
        if (time + wait - Date.now() < 0) {
          fn();
          time = Date.now();
        }
      };
    }

    window?.addEventListener(
      "scroll",
      throttle(() => {
        const devNameRect = devName?.getBoundingClientRect();
        const projectsListRect = projectsList?.getBoundingClientRect();
        const footerRect = footer?.getBoundingClientRect();

        const headerOverProjectsList =
          devNameRect?.bottom >= projectsListRect?.top &&
          devNameRect?.top <= projectsListRect?.bottom;

        const headerOverFooter = devNameRect?.bottom >= footerRect?.top;

        if (headerOverProjectsList || headerOverFooter) {
          devName.style.opacity = "0";
        } else {
          devName.style.opacity = "1";
        }
      }, 50),
    );
  });
</script>
