---
interface Props {
  id: string;
  label: string;
}
const { label, id } = Astro.props;
---

<li class="text-sm-em xs:text-base lg:text-base-em">
  <a
    id={id}
    class="cursor-pointer leading-normal px-4-em text-base-em xs:text-base md:text-base-em py-1-em block transition-all duration-200 ease-in-out"
  >
    {label}
  </a>
</li>
