<section class="text-black flex items-center xs:gap-2-em">
  <img
    loading="lazy"
    class="lg:w-5-em aspect-square lg:h-5-em max-w-full h-5 w-5 object-cover rounded-full"
    src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  />
  <p
    id="dev-name"
    class="hidden xs:block text-base lg:text-base-em md:block transition-opacity duration-300
    ease-in-out"
  >
    Stiven.
  </p>
</section>
