---
interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<li
  class="text-xs lg:text-0.8em uppercase text-center w-fit border rounded-full py-2 px-4 md:py-2 md:px-4-em"
>
  {tag}
</li>
